ALIBABA_APP_KEY=509776
ALIBABA_APP_SECRET=81d66987dee5ec1cc3773cd5eaae40b3
ALIBABA_REDIRECT_URI=https://nextjs-boilerplate-eight-gray-92.vercel.app/api/alibaba/oauth/callback
ALIBABA_AUTH_URL=https://oauth.alibaba.com/authorize?view=web&sp=ICBU
ALIBABA_TOKEN_URL=https://openapi.alibaba.com/auth/token/create
ALIBABA_SCOPE=
ALIBABA_STATE=production
ALIBABA_AUTH_STATE_PARAM=State